@media (max-width: 1200px){
    .withdrawals__inner{
        display: block;
    }
    .withdrawals__col{
       max-width: 100%;
       margin-bottom: 20px;
    }
    .withdrawals__tem{
        max-width: 490px;
    }
    .contact__form-row{
        display: block;
        input{
            width: 100%;
        }
    }
}
@media (max-width: 1150px){
    .footer__inner{
        flex-wrap: wrap;        
    }
    .footer__col-adress{
        margin-bottom: 30px;
        min-width: 100%;
    }
    .header__text {
        display: none;
    }
}
@media (max-width: 1020px){
    .product-one__tabs.settings__tabs{
    display: block;
    }
    .product-one__tabs.settings__tabs .tabs{
        margin-bottom: 20px;
        max-width: 100%;
    }
    .settings__line {
        .jq-selectbox{
        max-width: 540px;
        }
    }
}
@media (max-width: 960px){
    .page-404__404::after {
        width: 50px;
        height: 97px;
        background-size: cover;
    }
}
@media (max-width: 900px){    
    .footer__col-socail{
        min-width: 100%;
    }
    .footer__inner{
        justify-content: flex-start;
    }
    .footer__col-menu{
        & + & {
            margin-left: 40px;
        }
    }
    .contact__box{
        display: block;
    }
    .profile__inner{
        flex-direction: column;
    }
    .profile__content {
        order: -1;
        margin-bottom: 20px;
    }
    .profile__banner {
        margin-bottom: 20px;
    }
    .profile__aside{
        max-width: 100%;
        .aside__item{
            width: 100%;
        }
    }
    .profile__aside-btn{
        width: 300px;
       
    }
}
@media (max-width: 840px){
    .menu__list{
        display: none;
        background-color: $bg;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        z-index: 1;
        text-align: center;
        padding-bottom: 30px;
        a{
            display: block;
            padding: 10px 0;
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;
        }
        li {
            display: block;
            & + li {
                margin-left: 0;
            }
        }
    }
    .menu__btn{
        display: block;
        width: 30px;
        cursor: pointer;
        div{
        height: 3px;
        background-color: #fff;
        & + div {
            margin-top: 5px;
        }
    }
    }
    .upload-line{
        display: block;
        label{
            display: inline-block;
            margin-bottom: 5px;
        }
    }
    .upload__inner button{
        margin-left: 0;
    }
}
@media (max-width: 740px){
    .page-404__404 {
        font-size: 200px;
        line-height: 200px;
    }
    .page-404__title {
       font-size: 24px;
       margin-bottom: 20px;
       line-height: 30px;
    }
    .page-404__text{
        font-size: 15px;
        margin-bottom: 40px;
    }
    .page-404__link{
        padding: 10px 30px 8px;
    }
}
@media (max-width: 640px){
    .notification__box,
    .message__box{
        display: none;
    }
    .circle__menu{
        right: auto;
    }
    .profile__banner-images{
        min-height: 245px;
    }
    .profile__items{
        display: block;
    }
    .profile__item{
        width: 100%;
    }
    .profile__item+.profile__item{
        border-left: none;
        border-top: 1px solid #dedede;
    }
}
@media (max-width: 600px){
    .page-404__inner{
        padding: 0 15px;
    }
    .page-404__404{
        font-size: 120px;
        line-height: 120px;
    }
    .page-404__404::after {
        margin-left: 0px;
        top: 0px;
        right: 0px;
    }
    .upload__inner-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .upload__inner-title{
        padding: 16px 10px 10px;
    }
    .settings__line{
        display: block;
        label{
            display: inline-block;
            margin-bottom: 5px;
        }
    }
    .page-box__content{
        padding: 20px 10px 50px;
        button{
            margin-left: 0;
        }
    }
    .page-box__title {
    padding: 18px 10px;
    }
    .contact__inner{
        padding: 35px 10px 15px;
    }
    .contact__head{
        padding-left: 10px;
    }
    .container{
        padding: 0 8px;
    }
    .contact__map iframe {
        height: 300px;
    }
    .personal-box + .tab-content{
        padding: 35px 10px 25px;
    }
    .profile__aside-btn{
        width: 280px;
    }
}
@media (max-width: 540px){
    .footer__col{
        min-width: 100%;
    }
    .footer__col-menu{
        & + & {
            margin-left: 0px;
            margin-top: 30px;
        }
    }
    .withdrawals__content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .withdrawals__content-item{ 
        min-width: 490px;
    }
    .withdrawals__content-items{
        overflow-x: scroll;
    }
    
}
@media (max-width: 520px){
    .menu__list{
        top: 70px;
    }
    .header__btn-menu{
        display: block;
    }
    .header__btn-menu{
        width: 70px;
        height: 70px;
        background-color: $bg;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;
        &::before{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 36px;
            color: #fff;
        }
    }
    .header__box{
        position: absolute;
        transition: all .5s;        
        background-color: #fff;
        left: 100%;
        right: -100%;
        height: 70px;        
        z-index: 2; 
        &.active{
            left: 70px;
            right: 90px;                      
        }
    }
    .header__logo{
        margin-left: 60px;
    }
    .user__menu{
        top: 60px;
    }
    .menu__btn{
        position: absolute;
        top: 25px;
        div{
            background-color: $bg;
        }
    }
    .header__top-inner{
        height: 70px;
    }
    
}
@media (max-width: 495px){
    .user__info{
        display: none;
    }
    .user__images{
        margin-right: 0;
    }
    .about__head{
        padding: 23px 10px;
    }
    .about__inner{
        padding: 0 10px;
    }
}
@media (max-width: 390px){
    .header__box{
        &.active{
            left: 45px;
        }
    }
    .menu__btn{
        left: 10px;        
    }
}
@media (max-width: 360px){
    .user{
        margin-right: 0;
    }
    .basket{
        margin-right: 20px;
    }
    .header__logo{
        margin-left: 50px;
    }
    .circle__menu{
        left: -20px;
    }
}




@media (min-width: 841px){
    .menu__list{
        display: block !important; 
    }
    
}